@import "../base.css";

.category {
  height: 100vh;
}

.category-container {
  /*min-height: 100vh;*/
}

.category-box {
  display: flex;
  width: 100%;
  /* height: 100vh; */
  overflow: hidden;
}

.left-box {
  display: flex;
  flex-direction: column;
  flex: 0 0 75px;
  border-right: 0.5px solid #D8D8D8;
}


.menu-item {
  height: 25px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-left: 3px solid #fff;
}

.menu-item.selected {
  color: #AB956D;
  border-left-color: #AB956D;
}

.right-box {
  flex: 1;
  height: 100vh;
  transition: all 500ms ease-in-out;
}

.tanslate0 {
  transform: translate(0, 0);
}

.tanslate1 {
  transform: translate(0, -100vh);
}

.tanslate2 {
  transform: translate(0, -200vh);
}

.tanslate3 {
  transform: translate(0, -300vh);
}

.tanslate4 {
  transform: translate(0, -400vh);
}

.tanslate5 {
  transform: translate(0, -500vh);
}

.foods-type-box {
  height: 100vh;
}
